---
# Only the main Sass file needs front matter (the dashes are enough)
---

#main > article > div > section.page__content > p:nth-child(4) > img {
    width: auto;
    height: auto;
}

body > div.initial-content > div.page__hero--overlay {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position-y: 80%;
    height: 280px;
    

}

body > div.masthead {
    padding-right: 1rem;
}

#site-nav > a {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 19px;
    line-height: 25px;
    -webkit-box-direction: normal;
    box-sizing: inline-block;
    transition: all 0.2s ease-in-out;
    text-align: left;
    display: block;
    margin-right: 10px;
    padding-left: 37px;
    padding-right: 5px;

  }
  /* home page posts */
  #main > div.archive > div > div:nth-child(n) > article > h2 > a {
      font-size: 27px;
      font-weight: 600;
  }
  
  
  #site-nav > ul.visible-links > li:nth-child(n) {
    text-decoration: none;
  }

  #site-nav > ul.visible-links > li:nth-child(n) > a:hover {
    text-decoration: none;
  }

  /* article posts and work posts */
  .archive__item-title > a {  
    text-decoration: none;
    font-size: 27px;
    font-weight: 600;

  }


  #main > div.sidebar.sticky > h3:nth-child(n) {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding-right: 10px;

  }
  /*  sidebar  */
  #main > div.sidebar.sticky {
    margin-top: 2.2rem;
    
  }


  #main > div.archive > ul {
    padding-top: 2rem;
  }


  /*   recent posts sidebar child title   */

  #main > div.sidebar.sticky > nav:nth-child(n) > ul > li:nth-child(n) > a > span {
    font-size: 14px;
    font-weight: 400;
    color: #6d6d6d;
    height: 28px;
  }
  /*   recent posts sidebar child hover   */
  #main > div.sidebar.sticky > nav:nth-child(n) > ul > li:nth-child(n) > a > span:hover {
    color: black;
    transition-delay: 0s;
    transition: all 0.2s ease-in;
  }
 
  /*   sidebar title    */
  #main > div.sidebar.sticky > h3:nth-child(n) {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  /*   sidebar title 2 padding    */
  #main > div.sidebar.sticky > h3:nth-child(3) {
    padding-top: 3rem;
  }
  /*   sidebar new posts title   */
  #main > div.sidebar.sticky > nav:nth-child(n) > ul > li:nth-child(n) > span {
    font-size: 14px;
    font-weight: 400;
    color: #6d6d6d;
    height: 28px;
  }
  /*   sidebar new posts title hover effect   */
  #main > div.sidebar.sticky > nav:nth-child(n) > ul > li:nth-child(n) > span:hover {
    color: black;
    transition-delay: 0s;
    transition: all 0.2s ease-in;
  }
  /*
     sidebar
     ========================================================================== */

  #main > div.sidebar.sticky > div > div.author__urls-wrapper > ul > li:nth-child(1) > i {
    color: #8BC34A;

  }



  
    
  /* Archive font change */

  
  #main > div.archive > h1:nth-child(n) {
    font-family: 'DM Serif Display', Georgia, serif;
    letter-spacing: -0.648px;
    margin-bottom: 1.2rem;
    
  }

  #main > div.archive > h2:nth-child(n) {
    font-family: 'DM Serif Display', Georgia, serif;
    font-size: 43.4px;
    letter-spacing: -0.648px;
    margin-bottom: 1.2rem;


  }

  #main > div.archive > h3:nth-child(n) {
    font-family: 'DM Serif Display', Georgia, serif;
    letter-spacing: -0.648px;

  }

  #main > div.archive > h4:nth-child(n) {
    font-family: 'DM Serif Display', Georgia, serif;
    letter-spacing: -0.648px;

    
  }

  #main > div.sidebar.sticky > nav:nth-child(n) > ul > li:nth-child(n) > ul > li:nth-child(1) {
    padding-top: 2px;
  }
  #main > div.sidebar.sticky > nav:nth-child(n) > ul > li:nth-child(n) > ul > li:nth-child(n+2) {
      padding: 15px;
  }

  /* transitions for articles and work */
  #main > div.sidebar.sticky > nav:nth-child(n) > ul > li:nth-child(n) > ul > li:nth-child(n):hover {
    color: #c62828;
    text-decoration: underline;
    transition-delay: 0s;
    transition: all 0.2s ease-in;
  }
  
  #main > div.archive > div.list__item > article > h2:hover {
    color: #c62828;
    transition-delay: 0s;
    transition: all 0ms ease-in;
  }

  #main > div.archive > div.list__item > article > h2 > a:hover {
    text-decoration: underline;
    transition-delay: 0s;
    transition: all 0.6s ease-in;
  }

  #main > div.archive > div.list__item > article > h2 {
    margin-top: 26px;
  }
  #main > div.archive > div > div > article > h2 {
    margin-top: 26px;
  }

  #\32 019 > div > div > article > h2 > a:hover {
    text-decoration: underline;
    transition-delay: 0s;
    transition: all 0.6s ease-in;
  }

  /*    recent post and hover   */
  
  #main > div.archive > div > div:nth-child(n) > article > h2 > a:hover {
    transition: all 0.6s ease-in;
    transition-delay: 0.3s;
    text-decoration: underline;
  }



  #site-nav > ul.visible-links > li:nth-child(n) > a:hover {
    color: #6d6d6d;
    transition-delay: 0s;
  }

  #site-nav > button.search__toggle {
  }
  #site-nav > button.search__toggle:hover {
    color: #6d6d6d;
    transition-delay: 0s;
  }

  #site-nav > a {
  }

  #site-nav > a:hover {
    color: #6d6d6d;
    transition-delay: 0s;
  }

  .page__meta {
    margin-bottom: 2.2rem;
  }

  /* related posts padding*/
  #\32 019 > div > div > article > h2 {
    padding-top: 12px;
  }
 
  #main > div.sidebar > div > div.author__content > div > p {
    margin-top: 0;
  }
 /* dark mode please*/


 
@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
